In [1]:
import pandas as pd
from etl import rough_data, continuous_data_etl, categorical_data_etl

In [2]:
ds_personality_path = '../Resources/personality.csv'
continuous_data_etl(rough_data(ds_personality_path), input_type='df')

    attribute_value  function_1_value  function_2_value  lifestyle_value
0                -3                56                19               28
1               -75                41                -3               34
2               -78                19               -31                6
3               -38                28                19               12
4                 6                 3                31              -22
5               -44                 7               -56               47
6               -31                44               -34               -3
7               -50                38               -78               25
8               -53                38                19               28
9               -28                44                -6               -6
10                1                 6               -47               -9
11              -66                66               -28               41
12              -34                12               -25               31
13                9               -16                -9              -25
14              -31                16               -78               62
15               75                22                 3              -12
16               59                53                -1              -19
17              -38                16               -25               -6
18              -19                -9                50               -9
19              -31                19               -19               22
20                1               -12                25                9
21              -56                -9                -6               34
22               16                47                41               25
23              -25                25                25               16
24                6                 9                 6               -3
25               19                22                -6               22
26              -53                44                -3              -47
27              -59                31                 9               38
28               22                 6                12               22
29               19                 3                19                1
30              -59                62               -53                9
31              -28                 3               -53               22
32              -30                -1               -26               15
33              -22                19                -1                6
34              -47               -25                -1               34
35              -59                -6               -38                3
36               62                 9               -12               66
37              -44                 9                 6               19
38               -9                12               -41               16

In [3]:
country_personality_path = '../Resources/country-data.csv'
categorical_data_etl(rough_data(ds_personality_path), country_personality_path, input_type='df')

   personality_type     class     usa      chi2
0              ESTJ  0.000000  0.0380  0.038000
1              ESTP  0.025641  0.0232  0.000257
2              ESFJ  0.025641  0.0831  0.039730
3              ESFP  0.000000  0.0479  0.047900
4              ENTJ  0.051282  0.0257  0.025465
5              ENTP  0.051282  0.0469  0.000409
6              ENFJ  0.076923  0.0710  0.000494
7              ENFP  0.076923  0.1347  0.024782
8              ISTJ  0.102564  0.0356  0.125960
9              ISTP  0.000000  0.0225  0.022500
10             ISFJ  0.000000  0.0758  0.075800
11             ISFP  0.025641  0.0515  0.012984
12             INTJ  0.307692  0.0326  2.321343
13             INTP  0.102564  0.0573  0.035756
14             INFJ  0.153846  0.0755  0.081300
15             INFP  0.000000  0.1507  0.150700