In [1]:
import pandas as pd
import random as r
import csv
from matplotlib import pyplot as plt

In [ ]:
atts = ['I', 'E']
fn1s = ['N', 'S']
fn2s = ['T', 'F']
lsts = ['P', 'J']
with open('../Resources/test.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    csvwriter.writerow(['attribute', 'attribute score', 'function 1', 'function 1 score', 'function 2', 'function 2 score', 'lifestyle', 'lifestyle score'])
    for i in range(100):
        att = r.choice(atts)
        attv = round(100*r.random())
        fn1 = r.choice(fn1s)
        fn1v = round(100*r.random())
        fn2 = r.choice(fn2s)
        fn2v = round(100*r.random())
        lst = r.choice(lsts)
        lstv = round(100*r.random())
        csvwriter.writerow([att, attv, fn1, fn1v, fn2, fn2v, lst, lstv])

In [ ]:
test_df = pd.read_csv('../Resources/test.csv')
test_df.head()

In [ ]:
values_df = pd.DataFrame()
values_df['attribute_value'] = test_df['attribute'].map({'E': 1, 'I': -1})*test_df['attribute score']
values_df['function_1_value'] = test_df['function 1'].map({'N': 1, 'S': -1})*test_df['function 1 score']
values_df['function_2_value'] = test_df['function 2'].map({'F': 1, 'T': -1})*test_df['function 2 score']
values_df['lifestyle_value'] = test_df['lifestyle'].map({'J': 1, 'P': -1})*test_df['lifestyle score']

In [ ]:
values_df

In [ ]:
values_df.to_json('../Resources/test.json')

In [ ]:
countries_df = pd.read_csv('../Resources/pt-by-country.csv')
countries_df.head()

In [ ]:
countries_df = countries_df.loc[countries_df['Country']=='United States',:]
countries_df.head()

In [ ]:
pt_usa = []
pts = ['ESTJ', 'ESTP', 'ESFJ', 'ESFP', 'ENTJ', 'ENTP', 'ENFJ', 'ENFP', 'ISTJ', 'ISTP', 'ISFJ', 'ISFP', 'INTJ', 'INTP', 'INFJ', 'INFP']
apts = countries_df.columns
for pt in pts:
    ptv = 0
    for apt in apts:
        if (apt.split('-')[0] == pt):
            ptv += countries_df[apt].values[0]
    pt_usa.append(ptv)
pt_usa

In [ ]:
test_df

In [ ]:
test_df['type']=test_df['attribute']+test_df['function 1']+test_df['function 2']+test_df['lifestyle']
test_df

In [ ]:
pt_ds = []
for pt in pts:
    pt_ds.append(test_df.loc[test_df['type']==pt,'type'].count()/100)
pt_ds

In [ ]:
sum(pt_ds)

In [ ]:
pt_df = pd.DataFrame({0:pts, 1:pt_ds, 2:pt_usa}).T
pt_df.columns = pt_df.loc[0,:]
pt_df = pt_df.loc[1:2,:]
pt_df

In [2]:
from etl import continuous_data_etl, categorical_data_etl

In [4]:
continuous_data_etl('../Resources/test.csv', type='df')

    attribute_value  function_1_value  function_2_value  lifestyle_value
0                38                10                42               74
1                46               -56               -49              -33
2               -27                34               -32               15
3                25                51                39               77
4                63                78                93              -78
..              ...               ...               ...              ...
95              -54                57               -30              100
96              -17                30               -61               29
97               68               -30               -54              -15
98               84               -73                60              -57
99                9                26               -32               41

[100 rows x 4 columns]

In [3]:
categorical_data_etl('../Resources/test.csv', '../Resources/pt-by-country.csv', type='df')

,ESTJ,ESTP,ESFJ,ESFP,ENTJ,ENTP,ENFJ,ENFP,ISTJ,ISTP,ISFJ,ISFP,INTJ,INTP,INFJ,INFP
1,0.08,0.11,0.02,0.07,0.04,0.06,0.04,0.09,0.06,0.03,0.05,0.08,0.1,0.1,0.05,0.02
2,0.038,0.0232,0.0831,0.0479,0.0257,0.0469,0.071,0.1347,0.0356,0.0225,0.0758,0.0515,0.0326,0.0573,0.0755,0.1507

In [5]:
continuous_data_etl('../Resources/test.csv', output_path='../Resources/test.json')

    attribute_value  function_1_value  function_2_value  lifestyle_value
0                38                10                42               74
1                46               -56               -49              -33
2               -27                34               -32               15
3                25                51                39               77
4                63                78                93              -78
..              ...               ...               ...              ...
95              -54                57               -30              100
96              -17                30               -61               29
97               68               -30               -54              -15
98               84               -73                60              -57
99                9                26               -32               41

[100 rows x 4 columns]

In [6]:
categorical_data_etl('../Resources/test.csv', '../Resources/pt-by-country.csv', output_path='../Resources/test2.json')

,ESTJ,ESTP,ESFJ,ESFP,ENTJ,ENTP,ENFJ,ENFP,ISTJ,ISTP,ISFJ,ISFP,INTJ,INTP,INFJ,INFP
1,0.08,0.11,0.02,0.07,0.04,0.06,0.04,0.09,0.06,0.03,0.05,0.08,0.1,0.1,0.05,0.02
2,0.038,0.0232,0.0831,0.0479,0.0257,0.0469,0.071,0.1347,0.0356,0.0225,0.0758,0.0515,0.0326,0.0573,0.0755,0.1507